.home{
    display: flex;
    flex-direction: column;
}

.brands{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
    padding-left: 20vw;
}

.brands p{
    font-weight: 600;
    color: #8c2830;
    text-transform: uppercase;
}

.brand-name:hover{
    cursor: pointer;
    color: #337ab7;
}